*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
    
}

.h1 {
    text-align: center;
    margin-bottom: 23px;
    color: rgb(51, 167, 167);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 5px 15px 8px rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 10px;
}

@media screen and (max-width: 768px) {
    .h1 {
      font-size: 2rem;
      letter-spacing: 10px;
    }
  }


.form{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom,  #27282D, #1a6a77);
    

}

.form img{
    max-width: 500px;
    width: 100%;
}

.form input[type=text],
.form input[type=email]{
    display: block;
    border-radius: 17px;
    padding-left: 15px;
    padding-bottom: 2px;
    margin: 10px auto;
    max-width: 500px;
    font-size: 16px;
    height: 35px;
    width: 100%;
    border: 1px solid #ccc;

}

.form textarea{
    resize: unset;
    display: block;
    border-radius: 20px;
    padding-left: 12px;
    padding-top: 5px;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
    font-size: 16px;
    height: 120px;
}

.form input[type=submit]{
    padding-left: 10px;
    display: block;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: darkcyan;
    height: 35px;
    border: 0;
    transition: background-color 0.3s ease;
}

  .form input[type=submit]:hover {
    background-color: #1a6a77;
  }
  